.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .home__header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    background: #f0f2f7;

    .home__logo {
      height: 50px;
    }
  }
  .home__content {
    max-width: 1024px;

    width: 100%;
    margin-top: 1rem;
  }
}

.subheader {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  > button {
    margin-right: 1rem;
  }
}

.form__container {
  .form__input {
    width: 100%;
  }
}
.form__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.p-field {
  label {
    font-weight: bold;
  }
}

.video-embed {
  .form__container {
    width: 50%;
  }
}
